/* 
==================
 Fonts 
================== 
*/
@font-face {
  font-family: "Orbitron";
  font-weight: 400;
  src: url("./assets/fonts/Orbitron-Medium.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #dbeafe;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #93c5fd;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #3b82f6;
  }
}
